h1{
	text-align: center;
}

.gallery img{
	max-width: 250px;
	border: 1px solid black;
}

.container{
	max-width: 75%;
	margin: 0 auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr

}

.image img{
	border: 1px solid darkred;
	height: 100%;
	width: 100%;
}

.main{
	width: 50%;
	margin: 0 auto;
	padding: 5px;
}

.main img{
	height: 100%;
	width: 100%;
}